# Deployment
PRIVATE_KEY=your_private_key_here

# RPC URLs
ARBITRUM_SEPOLIA_RPC=https://sepolia-rollup.arbitrum.io/rpc
ARBITRUM_ONE_RPC=https://arb1.arbitrum.io/rpc

# Verification
ARBISCAN_API_KEY=your_arbiscan_api_key

# Gas Reporting (optional)
REPORT_GAS=true
COINMARKETCAP_API_KEY=your_coinmarketcap_api_key

# Oracle Configuration
CHAINLINK_OPERATOR_ADDRESS=
CHAINLINK_JOB_ID=
